:root
{
    --bg-dark: #233d2f;
    --bg-color: #2d523f;
    --bg-light: #1d6140;

    --text-color: #DDDDDD;

    --default-font: "Merriweather", serif;
}

body{
    background-image: url("./assets/bg_tile.png");
    background-size: 4%;

    color: var(--text-color);
    font-family: var(--default-font);
}

input, button, select,option{
    outline: none;

    border: 3px solid var(--bg-light);
    background-color: var(--bg-dark);

    padding: 6px;
    border-radius: 5px;
    margin: 4px;

    color: var(--text-color);
    font-family: var(--default-font);

    transition-duration: 0.2s;
}

input:hover, button:hover
{
    background-color: #1e3925;
    transform: scale(1.05);
}

input:placeholder-shown
{
    background-color: #2c3620;
}

input:not(:placeholder-shown), button:active
{
    background-color: #29331d;
}

button:focus, input:focus
{
    border: 3px solid var(--bg-color);
    transform: scale(1.1);
}

#selection_menu
{
    background-color: var(--bg-dark);
    margin-left: -8px;
    margin-top: -8px;

    width: calc(100% + 16px);

    height: 50px;
}

#selection_menu > button
{
    transform: scale(1) !important;
    border: none;
    height: 100%;

    border-radius: 0;
    margin: 0px;

}

img
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

@keyframes Tooltip_Create {
    from { background-color: #1d614000; border: 3px solid #29331d00; color: #DDDDDD00; }
    to {}
}

.tooltip
{
    position: fixed;
    
    width: 150px;
    height: 75px;

    margin: 0;

    background-color: #1d6140CC;
    border: 3px solid #29331d77;

    text-align: center;
    padding: 5px;

    animation-name: Tooltip_Create;
    animation-duration: 0.25s;
}

@keyframes Tooltip_Remove {
    from {}
    to { background-color: #1d614000; border: 3px solid #29331d00; color: #DDDDDD00; }
}

.tooltip_removed
{
    animation-name: Tooltip_Remove;
    animation-duration: 0.25s;
}